Description=Telegram Bot Log
After=network.target

[Service]
User=root
Group=root

WorkingDirectory=/home/gena/tele_bot/
Environment="PYTHONPATH=/home/gena/tele_bot/"
ExecStart=/usr/bin/python3.6 /home/gena/tele_bot/bot_log.py

[Install]
WantedBy=multi-user.target
