[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=gena
Group=gena

WorkingDirectory=/home/gena/tele_bot/
Environment="PYTHONPATH=/home/gena/tele_bot/"
ExecStart=python3.6 /home/gena/tele_bot/bot_logic.py

[Install]
WantedBy=multi-user.target
