Description=Telegram Bot
After=network.target
# root is bad for security :(
# need to fix
[Service]
User=root
Group=root

WorkingDirectory=/home/gena/tele_bot/
Environment="PYTHONPATH=/home/gena/tele_bot/"
ExecStart=/usr/bin/python3.6 /home/gena/tele_bot/bot_logic.py

[Install]
WantedBy=multi-user.target
